/* Espaciado para múltiples secciones de habilidades */
.skill-item {
  margin-bottom: 20px;
}

.progress-bar {
  background-color: #edf2f7;
  border-radius: 12px;
  height: 24px;
  width: 100%;
  margin: 8px 0;
  overflow: hidden;
}

.progress-bar div {
  background-color: #2d3748;
  height: 100%;
  border-radius: 12px;
  color: #ffffff;
  text-align: right;
  padding-right: 12px;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  transition: width 0.5s ease-in-out;
}
